<%-include('./header.ejs') %>
 
    <section class="banner">
    	<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active" data-bs-interval="2000">
				<img src="/assets/images/sl1.webp" class="d-block w-100 " height="400px" alt="1">
			  </div>
			  <div class="carousel-item"  data-bs-interval="2000">
				<img src="/assets/images/home sl1.webp" class="d-block w-100"  height="400px" alt="2">
			  </div>
			  <div class="carousel-item"  data-bs-interval="2000">
				<img src="/assets/images/h.jpg" class="d-block w-100" height="400px" alt="3">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
    </section>
    <section class="featured-blog mtb-40">
    	<div class="container">
    		<div class="row">
				<% b.forEach((item)=>{ %>
    			<div class="col-md-4 mb-3">
    				<div class="card">
    					<img height="250" src="<%=item.image.url%>" alt="blog1" />
    					<div class="card-body text-center">
							<h3><%= item.title %></h3>
    					<p>by <span>RSGiTECH</span> on <span><%=item.updatedAt.toLocaleDateString() %></span></p>
    					<p><%= item.des.slice(0,43) %></p>
    					<a href="/front/detail/<%= item.id %>" class="btn btn-danger">Read more...</a>
						</div>
    				</div>
    			</div> 
				<% }) %>
				<div class="d-flex justify-content-end">
					<a href="/blog" class="btn btn-info">More Blogs</a>
				   </div>
    		</div>
    	</div>
    </section>
	
<%-include('./footer.ejs') %>